<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.bos.web.mapper.DsModelinfoMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.bos.web.pojo.DsModelinfo" >
    <id column="modelinfoid" property="modelinfoid" jdbcType="VARCHAR" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="typeno" property="typeno" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="storeproductname" property="storeproductname" jdbcType="VARCHAR" />
    <result column="productcost" property="productcost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    modelinfoid, typename, typeno, brand, storeproductname, productcost
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itheima.bos.web.pojo.DsModelinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ds_modelinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ds_modelinfo
    where modelinfoid = #{modelinfoid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ds_modelinfo
    where modelinfoid = #{modelinfoid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.bos.web.pojo.DsModelinfoExample" >
    delete from ds_modelinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.bos.web.pojo.DsModelinfo" >
    insert into ds_modelinfo (modelinfoid, typename, typeno, 
      brand, storeproductname, productcost
      )
    values (#{modelinfoid,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, #{typeno,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{storeproductname,jdbcType=VARCHAR}, #{productcost,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.bos.web.pojo.DsModelinfo" >
    insert into ds_modelinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="modelinfoid != null" >
        modelinfoid,
      </if>
      <if test="typename != null" >
        typename,
      </if>
      <if test="typeno != null" >
        typeno,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="storeproductname != null" >
        storeproductname,
      </if>
      <if test="productcost != null" >
        productcost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="modelinfoid != null" >
        #{modelinfoid,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeno != null" >
        #{typeno,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="storeproductname != null" >
        #{storeproductname,jdbcType=VARCHAR},
      </if>
      <if test="productcost != null" >
        #{productcost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.bos.web.pojo.DsModelinfoExample" resultType="java.lang.Integer" >
    select count(*) from ds_modelinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ds_modelinfo
    <set >
      <if test="record.modelinfoid != null" >
        modelinfoid = #{record.modelinfoid,jdbcType=VARCHAR},
      </if>
      <if test="record.typename != null" >
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.typeno != null" >
        typeno = #{record.typeno,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.storeproductname != null" >
        storeproductname = #{record.storeproductname,jdbcType=VARCHAR},
      </if>
      <if test="record.productcost != null" >
        productcost = #{record.productcost,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ds_modelinfo
    set modelinfoid = #{record.modelinfoid,jdbcType=VARCHAR},
      typename = #{record.typename,jdbcType=VARCHAR},
      typeno = #{record.typeno,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      storeproductname = #{record.storeproductname,jdbcType=VARCHAR},
      productcost = #{record.productcost,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.bos.web.pojo.DsModelinfo" >
    update ds_modelinfo
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="typeno != null" >
        typeno = #{typeno,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="storeproductname != null" >
        storeproductname = #{storeproductname,jdbcType=VARCHAR},
      </if>
      <if test="productcost != null" >
        productcost = #{productcost,jdbcType=DECIMAL},
      </if>
    </set>
    where modelinfoid = #{modelinfoid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.bos.web.pojo.DsModelinfo" >
    update ds_modelinfo
    set typename = #{typename,jdbcType=VARCHAR},
      typeno = #{typeno,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      storeproductname = #{storeproductname,jdbcType=VARCHAR},
      productcost = #{productcost,jdbcType=DECIMAL}
    where modelinfoid = #{modelinfoid,jdbcType=VARCHAR}
  </update>
</mapper>