<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.bos.web.mapper.MyStaffMapper">

    <select id="findUserByUsername" parameterType="String" resultType="com.itheima.bos.web.pojo.Staff">
       SELECT * from staff where id=#{VALUE }
    </select>
</mapper>