<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.bos.web.mapper.Order2stockrecordMapper">
    <resultMap id="BaseResultMap" type="com.itheima.bos.web.pojo.Order2stockrecord">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="ordersid" property="ordersid" jdbcType="VARCHAR"/>
        <result column="customername" property="customername" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="oldtypename" property="oldtypename" jdbcType="VARCHAR"/>
        <result column="oldtypenoname" property="oldtypenoname" jdbcType="VARCHAR"/>
        <result column="olrbrand" property="olrbrand" jdbcType="VARCHAR"/>
        <result column="oldconf" property="oldconf" jdbcType="VARCHAR"/>
        <result column="changnum" property="changnum" jdbcType="INTEGER"/>
        <result column="wcqk" property="wcqk" jdbcType="CHAR"/>
        <result column="stockaddress" property="stockaddress" jdbcType="VARCHAR"/>
        <result column="changetime" property="changetime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, ordersid, customername, username, oldtypename, oldtypenoname, olrbrand, oldconf, 
    changnum, wcqk, stockaddress, changetime
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.itheima.bos.web.pojo.Order2stockrecordExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from order2stockrecord
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from order2stockrecord
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order2stockrecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.itheima.bos.web.pojo.Order2stockrecordExample">
        delete from order2stockrecord
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.itheima.bos.web.pojo.Order2stockrecord">
    insert into order2stockrecord (id, ordersid, customername, 
      username, oldtypename, oldtypenoname, 
      olrbrand, oldconf, changnum, 
      wcqk, stockaddress, changetime
      )
    values (#{id,jdbcType=VARCHAR}, #{ordersid,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{oldtypename,jdbcType=VARCHAR}, #{oldtypenoname,jdbcType=VARCHAR}, 
      #{olrbrand,jdbcType=VARCHAR}, #{oldconf,jdbcType=VARCHAR}, #{changnum,jdbcType=INTEGER}, 
      #{wcqk,jdbcType=CHAR}, #{stockaddress,jdbcType=VARCHAR}, #{changetime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.itheima.bos.web.pojo.Order2stockrecord">
        insert into order2stockrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ordersid != null">
                ordersid,
            </if>
            <if test="customername != null">
                customername,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="oldtypename != null">
                oldtypename,
            </if>
            <if test="oldtypenoname != null">
                oldtypenoname,
            </if>
            <if test="olrbrand != null">
                olrbrand,
            </if>
            <if test="oldconf != null">
                oldconf,
            </if>
            <if test="changnum != null">
                changnum,
            </if>
            <if test="wcqk != null">
                wcqk,
            </if>
            <if test="stockaddress != null">
                stockaddress,
            </if>
            <if test="changetime != null">
                changetime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="ordersid != null">
                #{ordersid,jdbcType=VARCHAR},
            </if>
            <if test="customername != null">
                #{customername,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="oldtypename != null">
                #{oldtypename,jdbcType=VARCHAR},
            </if>
            <if test="oldtypenoname != null">
                #{oldtypenoname,jdbcType=VARCHAR},
            </if>
            <if test="olrbrand != null">
                #{olrbrand,jdbcType=VARCHAR},
            </if>
            <if test="oldconf != null">
                #{oldconf,jdbcType=VARCHAR},
            </if>
            <if test="changnum != null">
                #{changnum,jdbcType=INTEGER},
            </if>
            <if test="wcqk != null">
                #{wcqk,jdbcType=CHAR},
            </if>
            <if test="stockaddress != null">
                #{stockaddress,jdbcType=VARCHAR},
            </if>
            <if test="changetime != null">
                #{changetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.itheima.bos.web.pojo.Order2stockrecordExample"
            resultType="java.lang.Integer">
        select count(*) from order2stockrecord
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="countByExample_key" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM order2stockrecord
        <where>
            <if test="keyWords != null">
                and (ordersid LIKE CONCAT('%',#{keyWords},'%') OR username LIKE CONCAT('%',#{keyWords},'%') OR customername LIKE
                CONCAT('%',#{keyWords},'%') )
            </if>
        </where>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update order2stockrecord
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.ordersid != null">
                ordersid = #{record.ordersid,jdbcType=VARCHAR},
            </if>
            <if test="record.customername != null">
                customername = #{record.customername,jdbcType=VARCHAR},
            </if>
            <if test="record.username != null">
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.oldtypename != null">
                oldtypename = #{record.oldtypename,jdbcType=VARCHAR},
            </if>
            <if test="record.oldtypenoname != null">
                oldtypenoname = #{record.oldtypenoname,jdbcType=VARCHAR},
            </if>
            <if test="record.olrbrand != null">
                olrbrand = #{record.olrbrand,jdbcType=VARCHAR},
            </if>
            <if test="record.oldconf != null">
                oldconf = #{record.oldconf,jdbcType=VARCHAR},
            </if>
            <if test="record.changnum != null">
                changnum = #{record.changnum,jdbcType=INTEGER},
            </if>
            <if test="record.wcqk != null">
                wcqk = #{record.wcqk,jdbcType=CHAR},
            </if>
            <if test="record.stockaddress != null">
                stockaddress = #{record.stockaddress,jdbcType=VARCHAR},
            </if>
            <if test="record.changetime != null">
                changetime = #{record.changetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update order2stockrecord
        set id = #{record.id,jdbcType=VARCHAR},
        ordersid = #{record.ordersid,jdbcType=VARCHAR},
        customername = #{record.customername,jdbcType=VARCHAR},
        username = #{record.username,jdbcType=VARCHAR},
        oldtypename = #{record.oldtypename,jdbcType=VARCHAR},
        oldtypenoname = #{record.oldtypenoname,jdbcType=VARCHAR},
        olrbrand = #{record.olrbrand,jdbcType=VARCHAR},
        oldconf = #{record.oldconf,jdbcType=VARCHAR},
        changnum = #{record.changnum,jdbcType=INTEGER},
        wcqk = #{record.wcqk,jdbcType=CHAR},
        stockaddress = #{record.stockaddress,jdbcType=VARCHAR},
        changetime = #{record.changetime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.bos.web.pojo.Order2stockrecord">
        update order2stockrecord
        <set>
            <if test="ordersid != null">
                ordersid = #{ordersid,jdbcType=VARCHAR},
            </if>
            <if test="customername != null">
                customername = #{customername,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="oldtypename != null">
                oldtypename = #{oldtypename,jdbcType=VARCHAR},
            </if>
            <if test="oldtypenoname != null">
                oldtypenoname = #{oldtypenoname,jdbcType=VARCHAR},
            </if>
            <if test="olrbrand != null">
                olrbrand = #{olrbrand,jdbcType=VARCHAR},
            </if>
            <if test="oldconf != null">
                oldconf = #{oldconf,jdbcType=VARCHAR},
            </if>
            <if test="changnum != null">
                changnum = #{changnum,jdbcType=INTEGER},
            </if>
            <if test="wcqk != null">
                wcqk = #{wcqk,jdbcType=CHAR},
            </if>
            <if test="stockaddress != null">
                stockaddress = #{stockaddress,jdbcType=VARCHAR},
            </if>
            <if test="changetime != null">
                changetime = #{changetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.bos.web.pojo.Order2stockrecord">
    update order2stockrecord
    set ordersid = #{ordersid,jdbcType=VARCHAR},
      customername = #{customername,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      oldtypename = #{oldtypename,jdbcType=VARCHAR},
      oldtypenoname = #{oldtypenoname,jdbcType=VARCHAR},
      olrbrand = #{olrbrand,jdbcType=VARCHAR},
      oldconf = #{oldconf,jdbcType=VARCHAR},
      changnum = #{changnum,jdbcType=INTEGER},
      wcqk = #{wcqk,jdbcType=CHAR},
      stockaddress = #{stockaddress,jdbcType=VARCHAR},
      changetime = #{changetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>