<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.bos.web.mapper.OrderbackMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.bos.web.pojo.Orderback" >
    <id column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="storename" property="storename" jdbcType="VARCHAR" />
    <result column="customerinfo" property="customerinfo" jdbcType="VARCHAR" />
    <result column="oldno" property="oldno" jdbcType="VARCHAR" />
    <result column="backno" property="backno" jdbcType="VARCHAR" />
    <result column="registname" property="registname" jdbcType="VARCHAR" />
    <result column="registtime" property="registtime" jdbcType="TIMESTAMP" />
    <result column="registmark" property="registmark" jdbcType="VARCHAR" />
    <result column="handlename" property="handlename" jdbcType="VARCHAR" />
    <result column="handlereason" property="handlereason" jdbcType="VARCHAR" />
    <result column="handletime" property="handletime" jdbcType="TIMESTAMP" />
    <result column="basename" property="basename" jdbcType="VARCHAR" />
    <result column="signstatu" property="signstatu" jdbcType="VARCHAR" />
    <result column="signmark" property="signmark" jdbcType="VARCHAR" />
    <result column="signtime" property="signtime" jdbcType="TIMESTAMP" />
    <result column="product" property="product" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderid, storename, customerinfo, oldno, backno, registname, registtime, registmark, 
    handlename, handlereason, handletime, basename, signstatu, signmark, signtime, product
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itheima.bos.web.pojo.OrderbackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orderback
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderback
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.bos.web.pojo.OrderbackExample" >
    delete from orderback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.bos.web.pojo.Orderback" >
    insert into orderback (orderid, storename, customerinfo, 
      oldno, backno, registname, 
      registtime, registmark, handlename, 
      handlereason, handletime, basename, 
      signstatu, signmark, signtime, 
      product)
    values (#{orderid,jdbcType=VARCHAR}, #{storename,jdbcType=VARCHAR}, #{customerinfo,jdbcType=VARCHAR}, 
      #{oldno,jdbcType=VARCHAR}, #{backno,jdbcType=VARCHAR}, #{registname,jdbcType=VARCHAR}, 
      #{registtime,jdbcType=TIMESTAMP}, #{registmark,jdbcType=VARCHAR}, #{handlename,jdbcType=VARCHAR}, 
      #{handlereason,jdbcType=VARCHAR}, #{handletime,jdbcType=TIMESTAMP}, #{basename,jdbcType=VARCHAR}, 
      #{signstatu,jdbcType=VARCHAR}, #{signmark,jdbcType=VARCHAR}, #{signtime,jdbcType=TIMESTAMP}, 
      #{product,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.bos.web.pojo.Orderback" >
    insert into orderback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="storename != null" >
        storename,
      </if>
      <if test="customerinfo != null" >
        customerinfo,
      </if>
      <if test="oldno != null" >
        oldno,
      </if>
      <if test="backno != null" >
        backno,
      </if>
      <if test="registname != null" >
        registname,
      </if>
      <if test="registtime != null" >
        registtime,
      </if>
      <if test="registmark != null" >
        registmark,
      </if>
      <if test="handlename != null" >
        handlename,
      </if>
      <if test="handlereason != null" >
        handlereason,
      </if>
      <if test="handletime != null" >
        handletime,
      </if>
      <if test="basename != null" >
        basename,
      </if>
      <if test="signstatu != null" >
        signstatu,
      </if>
      <if test="signmark != null" >
        signmark,
      </if>
      <if test="signtime != null" >
        signtime,
      </if>
      <if test="product != null" >
        product,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="storename != null" >
        #{storename,jdbcType=VARCHAR},
      </if>
      <if test="customerinfo != null" >
        #{customerinfo,jdbcType=VARCHAR},
      </if>
      <if test="oldno != null" >
        #{oldno,jdbcType=VARCHAR},
      </if>
      <if test="backno != null" >
        #{backno,jdbcType=VARCHAR},
      </if>
      <if test="registname != null" >
        #{registname,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null" >
        #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registmark != null" >
        #{registmark,jdbcType=VARCHAR},
      </if>
      <if test="handlename != null" >
        #{handlename,jdbcType=VARCHAR},
      </if>
      <if test="handlereason != null" >
        #{handlereason,jdbcType=VARCHAR},
      </if>
      <if test="handletime != null" >
        #{handletime,jdbcType=TIMESTAMP},
      </if>
      <if test="basename != null" >
        #{basename,jdbcType=VARCHAR},
      </if>
      <if test="signstatu != null" >
        #{signstatu,jdbcType=VARCHAR},
      </if>
      <if test="signmark != null" >
        #{signmark,jdbcType=VARCHAR},
      </if>
      <if test="signtime != null" >
        #{signtime,jdbcType=TIMESTAMP},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.bos.web.pojo.OrderbackExample" resultType="java.lang.Integer" >
    select count(*) from orderback
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderback
    <set >
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.storename != null" >
        storename = #{record.storename,jdbcType=VARCHAR},
      </if>
      <if test="record.customerinfo != null" >
        customerinfo = #{record.customerinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.oldno != null" >
        oldno = #{record.oldno,jdbcType=VARCHAR},
      </if>
      <if test="record.backno != null" >
        backno = #{record.backno,jdbcType=VARCHAR},
      </if>
      <if test="record.registname != null" >
        registname = #{record.registname,jdbcType=VARCHAR},
      </if>
      <if test="record.registtime != null" >
        registtime = #{record.registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registmark != null" >
        registmark = #{record.registmark,jdbcType=VARCHAR},
      </if>
      <if test="record.handlename != null" >
        handlename = #{record.handlename,jdbcType=VARCHAR},
      </if>
      <if test="record.handlereason != null" >
        handlereason = #{record.handlereason,jdbcType=VARCHAR},
      </if>
      <if test="record.handletime != null" >
        handletime = #{record.handletime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.basename != null" >
        basename = #{record.basename,jdbcType=VARCHAR},
      </if>
      <if test="record.signstatu != null" >
        signstatu = #{record.signstatu,jdbcType=VARCHAR},
      </if>
      <if test="record.signmark != null" >
        signmark = #{record.signmark,jdbcType=VARCHAR},
      </if>
      <if test="record.signtime != null" >
        signtime = #{record.signtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.product != null" >
        product = #{record.product,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderback
    set orderid = #{record.orderid,jdbcType=VARCHAR},
      storename = #{record.storename,jdbcType=VARCHAR},
      customerinfo = #{record.customerinfo,jdbcType=VARCHAR},
      oldno = #{record.oldno,jdbcType=VARCHAR},
      backno = #{record.backno,jdbcType=VARCHAR},
      registname = #{record.registname,jdbcType=VARCHAR},
      registtime = #{record.registtime,jdbcType=TIMESTAMP},
      registmark = #{record.registmark,jdbcType=VARCHAR},
      handlename = #{record.handlename,jdbcType=VARCHAR},
      handlereason = #{record.handlereason,jdbcType=VARCHAR},
      handletime = #{record.handletime,jdbcType=TIMESTAMP},
      basename = #{record.basename,jdbcType=VARCHAR},
      signstatu = #{record.signstatu,jdbcType=VARCHAR},
      signmark = #{record.signmark,jdbcType=VARCHAR},
      signtime = #{record.signtime,jdbcType=TIMESTAMP},
      product = #{record.product,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.bos.web.pojo.Orderback" >
    update orderback
    <set >
      <if test="storename != null" >
        storename = #{storename,jdbcType=VARCHAR},
      </if>
      <if test="customerinfo != null" >
        customerinfo = #{customerinfo,jdbcType=VARCHAR},
      </if>
      <if test="oldno != null" >
        oldno = #{oldno,jdbcType=VARCHAR},
      </if>
      <if test="backno != null" >
        backno = #{backno,jdbcType=VARCHAR},
      </if>
      <if test="registname != null" >
        registname = #{registname,jdbcType=VARCHAR},
      </if>
      <if test="registtime != null" >
        registtime = #{registtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registmark != null" >
        registmark = #{registmark,jdbcType=VARCHAR},
      </if>
      <if test="handlename != null" >
        handlename = #{handlename,jdbcType=VARCHAR},
      </if>
      <if test="handlereason != null" >
        handlereason = #{handlereason,jdbcType=VARCHAR},
      </if>
      <if test="handletime != null" >
        handletime = #{handletime,jdbcType=TIMESTAMP},
      </if>
      <if test="basename != null" >
        basename = #{basename,jdbcType=VARCHAR},
      </if>
      <if test="signstatu != null" >
        signstatu = #{signstatu,jdbcType=VARCHAR},
      </if>
      <if test="signmark != null" >
        signmark = #{signmark,jdbcType=VARCHAR},
      </if>
      <if test="signtime != null" >
        signtime = #{signtime,jdbcType=TIMESTAMP},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.bos.web.pojo.Orderback" >
    update orderback
    set storename = #{storename,jdbcType=VARCHAR},
      customerinfo = #{customerinfo,jdbcType=VARCHAR},
      oldno = #{oldno,jdbcType=VARCHAR},
      backno = #{backno,jdbcType=VARCHAR},
      registname = #{registname,jdbcType=VARCHAR},
      registtime = #{registtime,jdbcType=TIMESTAMP},
      registmark = #{registmark,jdbcType=VARCHAR},
      handlename = #{handlename,jdbcType=VARCHAR},
      handlereason = #{handlereason,jdbcType=VARCHAR},
      handletime = #{handletime,jdbcType=TIMESTAMP},
      basename = #{basename,jdbcType=VARCHAR},
      signstatu = #{signstatu,jdbcType=VARCHAR},
      signmark = #{signmark,jdbcType=VARCHAR},
      signtime = #{signtime,jdbcType=TIMESTAMP},
      product = #{product,jdbcType=VARCHAR}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>