<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.bos.web.mapper.Order2stockMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.bos.web.pojo.Order2stock" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="orderproductid" property="orderproductid" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="wczt" property="wczt" jdbcType="CHAR" />
    <result column="changdate" property="changdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orderproductid, num, username, wczt, changdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.itheima.bos.web.pojo.Order2stockExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order2stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order2stock
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order2stock
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itheima.bos.web.pojo.Order2stockExample" >
    delete from order2stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itheima.bos.web.pojo.Order2stock" >
    insert into order2stock (id, orderproductid, num, 
      username, wczt, changdate
      )
    values (#{id,jdbcType=VARCHAR}, #{orderproductid,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{wczt,jdbcType=CHAR}, #{changdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itheima.bos.web.pojo.Order2stock" >
    insert into order2stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderproductid != null" >
        orderproductid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="wczt != null" >
        wczt,
      </if>
      <if test="changdate != null" >
        changdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderproductid != null" >
        #{orderproductid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="wczt != null" >
        #{wczt,jdbcType=CHAR},
      </if>
      <if test="changdate != null" >
        #{changdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itheima.bos.web.pojo.Order2stockExample" resultType="java.lang.Integer" >
    select count(*) from order2stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order2stock
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.orderproductid != null" >
        orderproductid = #{record.orderproductid,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.wczt != null" >
        wczt = #{record.wczt,jdbcType=CHAR},
      </if>
      <if test="record.changdate != null" >
        changdate = #{record.changdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order2stock
    set id = #{record.id,jdbcType=VARCHAR},
      orderproductid = #{record.orderproductid,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      wczt = #{record.wczt,jdbcType=CHAR},
      changdate = #{record.changdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itheima.bos.web.pojo.Order2stock" >
    update order2stock
    <set >
      <if test="orderproductid != null" >
        orderproductid = #{orderproductid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="wczt != null" >
        wczt = #{wczt,jdbcType=CHAR},
      </if>
      <if test="changdate != null" >
        changdate = #{changdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itheima.bos.web.pojo.Order2stock" >
    update order2stock
    set orderproductid = #{orderproductid,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      wczt = #{wczt,jdbcType=CHAR},
      changdate = #{changdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>